body {
	background-color: #efe9e8;
}

.container {
	display: flex;
	justify-content: center;
}

/* || main dashboard */

.dashboard {
	width: 100%;
	max-width: 1200px;
	height: 680px;
	border: 1px solid #64b0af;
	display: grid;
	grid-template-columns: 347px 1fr;
	grid-template-rows: 70px 1fr;
	grid-template-areas:
		'nav-panel header'
		'nav-panel main';
}

/* || dashboard side panel */

.dashboard__panel {
	grid-area: nav-panel;
	background-color: #fbf5f2;
	display: flex;
	flex-direction: column;
}

/* arranges sign out button to be at the bottom of the panel */
.dashboard__panel:before {
	content: '';
	flex: 1 1 auto;
	order: 1;
}

.dashboard__panel--img {
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dashboard__panel--user-img {
	background-color: gainsboro;
	height: 156px;
	width: 156px;
	border-radius: 50%;
}

.dashboard__panel--logout {
	order: 2;
	align-self: center;
	padding: 12px 30px;
	margin-bottom: 31px;
	background-color: #fff;
	color: #de5a61;
	border: 1px solid #de5a61;
	border-radius: 4px;
	text-transform: uppercase;
	cursor: pointer;
}

.dashboard__panel--logout:hover {
	border-color: rgba(154, 63, 68, 1);
	color: rgba(154, 63, 68, 1);
}

.dashboard__nav {
	display: flex;
	flex-direction: column;
}

.dashboard__nav--button {
	background-color: #fbf5f2;
	height: 46px;
	border: none;
	display: flex;
	gap: 15px;
	align-items: center;
	padding-left: 19px;
	cursor: pointer;
	position: relative;
}

/* active button styles */
.dashboard__nav--button.active {
	background-color: #bfdede;
}

.dashboard__nav--button.active:before {
	content: '';
	width: 6px;
	height: 100%;
	background-color: rgba(0, 125, 122, 1);
	position: absolute;
	left: 0;
}

/* active arrow */
.dashboard__nav--button.active:after {
	content: '';
	position: absolute;
	right: 0;
	border-width: 14px;
	border-style: solid;
	border-right-color: #fff;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
}

/* hover button styles */
/* applies left border to nav button */
.dashboard__nav--button:hover:not(.active):after {
	content: '';
	width: 6px;
	height: 100%;
	background-color: #f1d7cc;
	position: absolute;
	left: 0;
}

/* dashboard header div */

.dashboard__header {
	grid-area: header;
	background-color: #bfdede;
	display: flex;
	align-items: center;
	border-left: 6px solid rgba(0, 125, 122, 1);
}

.dashboard__header--text {
	margin: 0 0 0 20px;
}

/* dashboard content div */

.dashboard__content {
	grid-area: main;
	background-color: #fff;
}

/* || media queiries */

@media (max-width: 1024px) {
	.dashboard {
		grid-template-columns: 50px 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: 'nav-panel main';
	}

	.dashboard__panel--img {
		display: none;
	}

	/* this will introduce a bug where the header will technically be empty, because no element exists on mobile */
	.dashboard__nav--button-text {
		display: none;
	}

	.dashboard__nav--button.active:after {
		border: none;
	}

	.dashboard__panel--logout {
		display: none;
	}

	.dashboard__header {
		display: none;
	}
}
