.account__form form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.account__label-input {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.account__label-input input:focus-visible {
	outline: 2px solid #007d7a;
	z-index: 100;
}

/* removal of lastpass div being automatically added which affected layout */
.account__label-input > div[data-lastpass-icon-root] {
	display: none;
}

.account__label-input label {
	color: #233235;
	leading-trim: both;
	text-edge: cap;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: capitalize;
}

.account__form input {
	height: 44px;
	padding: 0 16px;
	border: 2px solid #b8d1d1;
	border-radius: 2px;
	background-color: #fff;
}

.account__form button {
	width: 250px;
}
