.account__form {
	width: 100%;
}

.account__form form {
	display: grid;
	grid-template-columns: 156px 1fr;
	grid-template-rows: repeat(8, 68px) 40px;
	gap: 20px;
}

.account__form form div {
	grid-column: 1 / -1;
}

.account__form form div:nth-child(1) {
	grid-column: 1 / 2;
}
.account__form form div:nth-child(2) {
	grid-column: 2 / -1;
}
.account__form form div:nth-child(3) {
	grid-column: 2 / -1;
}

.account__label-input {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.account__label-input label {
	color: #233235;
	leading-trim: both;
	text-edge: cap;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: capitalize;
}

.account__form input {
	height: 44px;
	padding: 0 16px;
	border: 2px solid #b8d1d1;
	border-radius: 2px;
	background-color: #fff;
}

.account__form input:focus-visible {
	outline: 2px solid #007d7a;
	z-index: 100;
}

.account__form button {
	width: 250px;
	/* height: 40px; */
}

/* profile pic div */
.profile-pic {
	width: 156px;
	height: 156px;
}

.profile-pic input[type='file'] {
	/* opacity: 0; */
	width: 100%;
	padding: 0;
	border: none;
}

/* removal of lastpass div being automatically added which affected layout */
.account__label-input > div[data-lastpass-icon-root] {
	display: none;
}
