@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

body {
	background-color: #efe9e8;
	font-family: 'DM Sans', sans-serif;
}

.container {
	display: flex;
	justify-content: center;
}

/* || buttons */

.dashboard__button-primary {
	padding: 12px 30px;
	background-color: #de5a61;
	color: #fff;
	border: 1px solid #de5a61;
	border-radius: 4px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.dashboard__button-primary:hover {
	background-color: rgba(154, 63, 68, 1);
	color: #fff;
	border-color: rgba(154, 63, 68, 1);
}

.dashboard__button-secondary {
	padding: 12px 30px;
	background-color: #fff;
	color: #de5a61;
	border: 1px solid #de5a61;
	border-radius: 4px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.dashboard__button-secondary:hover {
	background-color: #de5a61;
	color: #fff;
	border-color: #de5a61;
}

/* || main dashboard */

.dashboard {
	width: 100%;
	max-width: 1200px;
	height: 680px;
	border: 1px solid #64b0af;
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'nav-panel main';
}

/* || dashboard side panel */

.dashboard__panel {
	grid-area: nav-panel;
	background-color: #fbf5f2;
	display: flex;
	flex-direction: column;
}

/* arranges sign out button to be at the bottom of the panel */
.dashboard__panel:before {
	content: '';
	flex: 1 1 auto;
	order: 1;
}

.dashboard__panel--user {
	display: flex;
	gap: 20px;
	flex-direction: column;
	align-items: center;
	padding: 35px 0;
	/* will change with media query */
	display: none;
}

.dashboard__panel--user-img {
	height: 156px;
	width: 156px;
	border-radius: 50%;
	object-fit: cover;
}

.dashboard__panel--user p {
	margin: 0;
}

.dashboard__panel--logout {
	order: 2;
	align-self: center;
	margin-bottom: 31px;
	/* will change with media query */
	display: none;
}

.dashboard__panel--logout:focus-visible {
	background-color: #fff;
	color: rgba(154, 63, 68, 1);
	border-color: rgba(154, 63, 68, 1);
	outline: 2px solid #007d7a;
	outline-offset: 2px;
	z-index: 50;
}

.dashboard__nav {
	display: flex;
	flex-direction: column;
}

.dashboard__nav--button {
	background-color: #fbf5f2;
	color: #233235;
	height: 46px;
	border: none;
	display: flex;
	gap: 15px;
	align-items: center;
	padding-left: 19px;
	cursor: pointer;
	position: relative;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

/* hover button styles */
.dashboard__nav--button:hover:not(.active),
.dashboard__nav--button:focus:not(.active) {
	color: #233235;
	background-color: rgba(251, 245, 242, 1);
}

.dashboard__nav--button.active:hover {
	color: #233235;
}

.dashboard__nav--button:focus {
	outline: none;
}

.dashboard__nav--button:focus-visible {
	outline: 2px solid #007d7a;
	z-index: 100;
}

/* active button styles */
.dashboard__nav--button.active {
	background-color: #bfdede;
	color: #233235;
}

/* active border */
.dashboard__nav--button.active:before {
	content: '';
	width: 6px;
	height: 100%;
	background-color: rgba(0, 125, 122, 1);
	position: absolute;
	left: 0;
}

/* active arrow */
.dashboard__nav--button.active:after {
	content: '';
	position: absolute;
	right: 0;
	border-width: 14px;
	border-style: solid;
	border-right-color: #fff;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
	z-index: 100;
	/* will change with media query */
	display: none;
}

/* applies left border to nav button on hover */
.dashboard__nav--button:hover:not(.active):after {
	content: '';
	width: 6px;
	height: 100%;
	background-color: #f1d7cc;
	position: absolute;
	left: 0;
}

.dashboard__nav--button-text {
	display: none;
}

/* dashboard header div */

.dashboard__header {
	grid-area: header;
	background-color: #bfdede;
	display: flex;
	align-items: center;
	border-left: 6px solid rgba(0, 125, 122, 1);
	display: none;
}

.dashboard__header--text {
	margin: 0 0 0 20px;
}

/* dashboard content div */

.dashboard__content {
	grid-area: main;
	background-color: #fff;
	overflow-y: auto;
}

/* tabcontent */

.tabcontent,
#sell {
	padding: 23px 15px;
}

/* || media queiries */

@media (min-width: 1024px) {
	.dashboard {
		grid-template-columns: 347px 1fr;
		grid-template-rows: 70px 1fr;
		grid-template-areas:
			'nav-panel header'
			'nav-panel main';
	}

	.dashboard__panel--user {
		display: flex;
	}

	/* this will introduce a bug where the header will technically be empty, because no element exists on mobile */
	.dashboard__nav--button-text {
		display: block;
	}

	/* active arrow */
	.dashboard__nav--button.active:after {
		display: block;
	}

	.dashboard__panel--logout {
		display: block;
	}

	.dashboard__header {
		display: flex;
	}

	.tabcontent,
	#sell {
		padding: 23px 73px;
	}
}
